extends layout.pug

block content
  section#namesTable
    table
      tr
        th First Name
        th Last Name
      each name in names
        tr
          td= name.first
          td= name.last